<section class="TaskExplorerView" ng-controller="TaskExplorerViewController as taskexplorerviewCtrl">
<h4 style="padding-left:10px">TaskExplorerView</h4>
    <ee-table ng-controller="TaskExplorerViewTaskController as tableCtrl"></ee-table>
    <input type="button" class="btn btn-primary" value="AddTask" ng-click="taskexplorerviewCtrl.lightbox('add','[TaskEditorView.model]')">
    <input type="button" class="btn btn-danger btn-xs" value="DeleteTask" ng-click="taskexplorerviewCtrl.lightbox('delete','[TaskEditorView.model]')">
  <ee-view template="TaskSearchView"></ee-view>
</section>
