<section class="TaskSearchView" ng-controller="TaskSearchViewController as tasksearchviewCtrl">
<h4 style="padding-left:10px">TaskSearchView</h4>
    <ee-table ng-controller="TaskSearchViewTaskActionController as tableCtrl"></ee-table>
    <label>Name</label> <input type="text" placeholder="Name">
    <label>Comments</label> <input type="text" placeholder="Comments">
    <input type="button" class="btn btn-info" value="Search" ng-click="tasksearchviewCtrl.lightbox('search','OnAction')">
</section>
